.sprite {
    background: url(download.png) no-repeat;
}

.sprite-jesus-forward-1-png {
    width: 28px;
    height: 31px;
    background-position: -0px -126px;
}

.sprite-jesus-forward-10-png {
    width: 28px;
    height: 31px;
    background-position: -117px -84px;
}

.sprite-jesus-forward-11-png {
    width: 28px;
    height: 31px;
    background-position: -117px -42px;
}

.sprite-jesus-forward-12-png {
    width: 28px;
    height: 31px;
    background-position: -117px -0px;
}

.sprite-jesus-forward-13-png {
    width: 28px;
    height: 31px;
    background-position: -78px -84px;
}

.sprite-jesus-forward-2-png {
    width: 28px;
    height: 31px;
    background-position: -39px -84px;
}

.sprite-jesus-forward-3-png {
    width: 28px;
    height: 31px;
    background-position: -0px -84px;
}

.sprite-jesus-forward-4-png {
    width: 28px;
    height: 31px;
    background-position: -78px -42px;
}

.sprite-jesus-forward-5-png {
    width: 28px;
    height: 31px;
    background-position: -39px -42px;
}

.sprite-jesus-forward-6-png {
    width: 28px;
    height: 31px;
    background-position: -0px -42px;
}

.sprite-jesus-forward-7-png {
    width: 28px;
    height: 31px;
    background-position: -78px -0px;
}

.sprite-jesus-forward-8-png {
    width: 28px;
    height: 31px;
    background-position: -39px -0px;
}

.sprite-jesus-forward-9-png {
    width: 28px;
    height: 31px;
    background-position: -0px -0px;
}