.sprite {
    background: url(download.png) no-repeat;
}

.sprite-link-pink-backward-1-png {
    width: 16px;
    height: 24px;
    background-position: -81px -70px;
}

.sprite-link-pink-backward-2-png {
    width: 16px;
    height: 23px;
    background-position: -135px -34px;
}

.sprite-link-pink-backward-3-png {
    width: 16px;
    height: 22px;
    background-position: -162px -66px;
}

.sprite-link-pink-backward-4-png {
    width: 16px;
    height: 22px;
    background-position: -162px -33px;
}

.sprite-link-pink-backward-5-png {
    width: 16px;
    height: 22px;
    background-position: -164px -0px;
}

.sprite-link-pink-backward-6-png {
    width: 16px;
    height: 23px;
    background-position: -137px -0px;
}

.sprite-link-pink-backward-7-png {
    width: 16px;
    height: 24px;
    background-position: -54px -70px;
}

.sprite-link-pink-forward-1-png {
    width: 16px;
    height: 24px;
    background-position: -27px -70px;
}

.sprite-link-pink-forward-2-png {
    width: 16px;
    height: 23px;
    background-position: -108px -104px;
}

.sprite-link-pink-forward-3-png {
    width: 16px;
    height: 22px;
    background-position: -135px -134px;
}

.sprite-link-pink-forward-4-png {
    width: 16px;
    height: 22px;
    background-position: -135px -101px;
}

.sprite-link-pink-forward-5-png {
    width: 16px;
    height: 22px;
    background-position: -135px -68px;
}

.sprite-link-pink-forward-6-png {
    width: 16px;
    height: 23px;
    background-position: -81px -104px;
}

.sprite-link-pink-forward-7-png {
    width: 16px;
    height: 24px;
    background-position: -0px -70px;
}

.sprite-link-pink-left-1-png {
    width: 16px;
    height: 23px;
    background-position: -54px -104px;
}

.sprite-link-pink-left-2-png {
    width: 16px;
    height: 24px;
    background-position: -108px -35px;
}

.sprite-link-pink-left-3-png {
    width: 16px;
    height: 24px;
    background-position: -81px -35px;
}

.sprite-link-pink-left-4-png {
    width: 16px;
    height: 23px;
    background-position: -27px -104px;
}

.sprite-link-pink-left-5-png {
    width: 16px;
    height: 24px;
    background-position: -54px -35px;
}

.sprite-link-pink-left-6-png {
    width: 16px;
    height: 24px;
    background-position: -27px -35px;
}

.sprite-link-pink-left-7-png {
    width: 17px;
    height: 23px;
    background-position: -28px -0px;
}

.sprite-link-pink-right-1-png {
    width: 16px;
    height: 23px;
    background-position: -0px -104px;
}

.sprite-link-pink-right-2-png {
    width: 16px;
    height: 24px;
    background-position: -0px -35px;
}

.sprite-link-pink-right-3-png {
    width: 16px;
    height: 24px;
    background-position: -110px -0px;
}

.sprite-link-pink-right-4-png {
    width: 16px;
    height: 23px;
    background-position: -108px -70px;
}

.sprite-link-pink-right-5-png {
    width: 16px;
    height: 24px;
    background-position: -83px -0px;
}

.sprite-link-pink-right-6-png {
    width: 16px;
    height: 24px;
    background-position: -56px -0px;
}

.sprite-link-pink-right-7-png {
    width: 17px;
    height: 23px;
    background-position: -0px -0px;
}
